Repository manafishrov/ui: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt

lint:
  run: bunx oxlint --fix --type-aware --type-check {staged_files} && git add {staged_files}

fmt:
  run: bunx oxfmt {staged_files} && git add {staged_files}

WIP: splitter and select fixes
  packages/docs/src/routes/components-form.tsx
  packages/docs/src/routes/components-splitter.tsx
  packages/lib/src/components/Select.tsx
  packages/lib/src/components/Splitter.tsx
Due: lint, fmt

chore: add renovate
  .github/renovate.json
Due: fmt

feat: add semantic release
  .github/workflows/release.yaml
  bun.lock
  packages/lib/package.json
Due: fmt

fix: linting
  packages/docs/src/components/Header.tsx
  packages/docs/src/routes/__root.tsx
  packages/docs/src/routes/components-aspect-ratio.tsx
  packages/docs/src/routes/components-form.tsx
  packages/docs/src/routes/components-slider.tsx
  packages/docs/src/routes/components-toaster.tsx
  packages/docs/vite.config.ts
  packages/lib/src/Theme.tsx
  packages/lib/src/components/DatePicker.tsx
  packages/lib/src/components/MenuCombobox.tsx
  packages/lib/src/components/MenuComboboxList.tsx
  packages/lib/src/components/TextInput.tsx
  packages/lib/src/components/form/SliderField.tsx
  packages/lib/src/components/sidebar/SidebarMenu.tsx
  packages/lib/vite.config.ts
Due: lint, fmt

chore: use defaults for semantic release
  packages/lib/package.json
Due: fmt

fix: publishing
  package.json
  packages/lib/package.json
Due: fmt

fix: add inlang suffix
  packages/docs/i18n.inlang/settings.json
  packages/docs/vite.config.ts
  packages/lib/i18n.inlang/settings.json
  packages/lib/vite.config.ts
Due: lint, fmt

fix: switch docs to use theme provider
  packages/docs/src/components/Header.tsx
  packages/docs/src/routes/__root.tsx
Due: lint, fmt

docs: create readme
  README.md
Due: none

chore: stop using relative import for paraglide
  packages/lib/src/Locale.tsx
Due: lint, fmt

fix: install new node version
  .github/workflows/release.yaml
Due: none

chore: add nix flake
  .envrc
  flake.lock
  flake.nix
Due: none

ci: fix publishing
  .github/workflows/release.yaml
  bun.lock
  packages/docs/vite.config.ts
  packages/lib/package.json
Due: lint, fmt

chore(release): 1.0.1 [skip ci]
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: fmt

Notes added by 'git notes add'
  0917d1392154702d1fbd5719de8dbba182c908aa
Due: none

chore(docs-deploy): fix
  .github/workflows/docs.yaml
  packages/docs/index.html
  packages/docs/vite.config.ts
Due: lint, fmt

WIP: fix case main
  packages/docs/src/main2.tsx
Due: lint, fmt

ci: docs build
  .oxlintrc.json
  packages/docs/index.html
  packages/docs/src/main.tsx
Due: lint, fmt

fix: package separation
  .github/workflows/release.yaml
  bun.lock
  package.json
  packages/docs/package.json
  packages/lib/package.json
Due: fmt

fix: build
  bun.lock
  packages/lib/package.json
Due: fmt

chore(release): 1.0.2 [skip ci]
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: fmt

Notes added by 'git notes add'
  5ea4e7bf17c2b13304234f4563b8e265c53f3296
Due: none

Revert "fix: build"
  bun.lock
  packages/lib/package.json
Due: fmt

Revert "fix: package separation"
  .github/workflows/release.yaml
  bun.lock
  package.json
  packages/docs/package.json
  packages/lib/package.json
Due: fmt

fix: missing tailwindcss for docs
  bun.lock
  packages/docs/package.json
Due: fmt

chore(release): 1.0.3 [skip ci]
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: fmt

Notes added by 'git notes add'
  8a52b079b5e10cccd06702dbe3e2c038ce636731
Due: none

chore: fix formatting
  packages/lib/src/components/form/CheckboxField.tsx
  packages/lib/src/components/form/DatePickerField.tsx
  packages/lib/src/components/form/Form.tsx
  packages/lib/src/components/form/NumberInputField.tsx
  packages/lib/src/components/form/PasswordInputField.tsx
  packages/lib/src/components/form/RadioGroupField.tsx
  packages/lib/src/components/form/SelectField.tsx
  packages/lib/src/components/form/SubmitButton.tsx
  packages/lib/src/components/form/SwitchField.tsx
  packages/lib/src/components/form/TextInputField.tsx
  packages/lib/src/components/form/TextareaField.tsx
Due: lint, fmt

chore: specify bun version
  .github/workflows/ci.yaml
  packages/lib/tsconfig.json
Due: fmt

chore: pin bun
  .github/workflows/ci.yaml
Due: none

chore: stop pinning bun version
  .github/workflows/ci.yaml
Due: none

chore: try updating oxfmt
  .github/workflows/ci.yaml
  bun.lock
  package.json
Due: fmt

chore: comment out formatting check until issue has been fixed
  .github/workflows/ci.yaml
Due: none

chore: docs fixes
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  packages/docs/vite.config.ts
  packages/lib/src/components/sidebar/SidebarDesktop.tsx
Due: lint, fmt

docs: add readme symlink
  packages/lib/README.md
Due: none

fix: make sure to build library before docs
  .github/workflows/release.yaml
Due: none

chore(release): 1.0.4 [skip ci]
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: fmt

Notes added by 'git notes add'
  3e3bb6a9f43e8f14de6e505d9898138cfede928d
Due: none

fix: lint warnings
  .gitignore
  .oxlintrc.json
  package.json
  packages/docs/src/routes/__root.tsx
  packages/docs/src/routes/components-form.tsx
  packages/lib/src/Theme.tsx
Due: lint, fmt

chore(release): 1.0.5 [skip ci]
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: fmt

Path conditions:
  lint: any of: *.{ts,tsx}
  fmt: any of: *.{ts,tsx,json,css}
