Repository manafishrov/ui: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt

lint:
  run: bunx oxlint --fix --type-aware --type-check {staged_files} && git add {staged_files}

fmt:
  run: bunx oxfmt {staged_files} && git add {staged_files}

Notes added by 'git notes add'
  a80e57a10ab2016aac138688fdc670fc0e3e99d0
Due: none

chore: add missing translationns
  packages/lib/messages/en-gb.json
  packages/lib/messages/nb.json
  packages/lib/src/components/Breadcrumb.tsx
Due: lint, fmt

chore: add preview command
  package.json
Due: fmt

feat: add aschild to sidebarmenubutton
  packages/lib/src/components/sidebar/SidebarMenu.tsx
Due: lint, fmt

chore: add option to disable mobile sidebar
  packages/lib/src/components/sidebar/Sidebar.tsx
  packages/lib/src/components/sidebar/SidebarDesktop.tsx
  packages/lib/src/components/sidebar/SidebarProvider.tsx
  packages/lib/src/components/sidebar/context.ts
Due: lint, fmt

feat: automatically update sidebar size when collapsible is true and mobile sidebar is disabled
  packages/lib/src/components/sidebar/Sidebar.tsx
  packages/lib/src/components/sidebar/SidebarProvider.tsx
Due: lint, fmt

fix: mobile sidebar
  packages/lib/src/components/sidebar/SidebarMobile.tsx
Due: lint, fmt

feat: switch to modern version of font and icon library
  README.md
  bun.lock
  package.json
  packages/docs/src/routes/components-date-picker.tsx
  packages/docs/src/routes/components-sidebar.tsx
  packages/lib/package.json
  packages/lib/src/components/Accordion.tsx
  packages/lib/src/components/Breadcrumb.tsx
  packages/lib/src/components/Carousel.tsx
  packages/lib/src/components/Checkbox.tsx
  packages/lib/src/components/Combobox.tsx
  packages/lib/src/components/DatePicker.tsx
  packages/lib/src/components/Dialog.tsx
  packages/lib/src/components/Menu.tsx
  packages/lib/src/components/MenuCombobox.tsx
  packages/lib/src/components/NavigationMenu.tsx
  packages/lib/src/components/NumberInput.tsx
  packages/lib/src/components/Pagination.tsx
  packages/lib/src/components/PasswordInput.tsx
  packages/lib/src/components/PinInput.tsx
  packages/lib/src/components/Select.tsx
  packages/lib/src/components/Sheet.tsx
  packages/lib/src/components/Spinner.tsx
  packages/lib/src/components/TagsInput.tsx
  packages/lib/src/components/TreeView.tsx
  packages/lib/src/components/sidebar/SidebarSubComponents.tsx
  packages/lib/src/components/toaster/Toaster.tsx
  packages/lib/src/theme.css
Due: lint, fmt

chore(release): 1.1.0 [skip ci]
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: fmt

Notes added by 'git notes add'
  f354401f083816d32899f8ba310cfc630e434385
Due: none

feat: sidebar layout improvements
  packages/docs/src/routes/components-sidebar.tsx
  packages/lib/src/components/sidebar/Sidebar.tsx
  packages/lib/src/components/sidebar/SidebarDesktop.tsx
  packages/lib/src/components/sidebar/SidebarProvider.tsx
  packages/lib/src/components/sidebar/SidebarSubComponents.tsx
Due: lint, fmt

fix: add missing font weights
  packages/lib/src/theme.css
Due: fmt

chore(release): 1.2.0 [skip ci]
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: fmt

Notes added by 'git notes add'
  c0a214089e8f963a1d5e25fdb678dc5138122942
Due: none

fix: remove changelog from repo and move readme into package in ci
  packages/lib/CHANGELOG.md
  packages/lib/README.md
  packages/lib/package.json
Due: fmt

chore: lockfile update
  bun.lock
Due: none

Notes added by 'git notes add'
  d21e4af8569d6872e1b8dfa2ddea0c7baa5b5cd3
Due: none

Notes added by 'git notes add'
  836ebf81aa4666e9413a02ede72e419dc8d2490d
Due: none

fix: sidebar active bug
  packages/lib/src/components/sidebar/SidebarMenu.tsx
Due: lint, fmt

Notes added by 'git notes add'
  3be0ba0f3a23b0f97cf40c1719b10136d0206a14
Due: none

Notes added by 'git notes add'
  6c30332ab2a6ec6bfad915bbd49d0a8e390ffe39
Due: none

chore: small improvements
  packages/lib/src/components/sidebar/SidebarMenu.tsx
Due: lint, fmt

Notes added by 'git notes add'
  eddc17159d610f1e2379c7cfeea4b340a0b29a4b
Due: none

docs: update readme mistake
  README.md
  packages/lib/README.md
Due: none

Notes added by 'git notes add'
  7bedb5b5ec8e1d5542869e1a6cfa1ed1ae18c1ff
Due: none

Notes added by 'git notes add'
  d6a29a792b6b7bbfc489b728cc6aa7325fbb6470
Due: none

Notes added by 'git notes add'
  89cd55ed8e1ab97f8f3820cf069afd23a1b455d3
Due: none

Notes added by 'git notes add'
  e031f69520d61f15ceb043d28cad5bbf3a4dcf9d
Due: none

fix: add inner class
  packages/lib/src/components/sidebar/Sidebar.tsx
  packages/lib/src/components/sidebar/SidebarDesktop.tsx
Due: lint, fmt

Notes added by 'git notes add'
  ff7a18f4ff74341daa0e5a746d54b1e4ec3d22e8
Due: none

fix: bug where innerclass is not passed
  packages/lib/src/components/sidebar/SidebarDesktop.tsx
Due: lint, fmt

Notes added by 'git notes add'
  7097fc970efe14d031fbbb7ba0929aaa3067c5ab
Due: none

chore: set docs to be antialiased
  packages/docs/index.html
Due: none

chore: format nix flake
  flake.nix
Due: none

chore: stop using custom icon
  packages/docs/src/routes/components-input-group.tsx
Due: lint, fmt

fix: form label spppacing and slider error message overlap
  packages/docs/src/routes/components-form.tsx
  packages/lib/src/components/Combobox.tsx
  packages/lib/src/components/DatePicker.tsx
  packages/lib/src/components/Field.tsx
  packages/lib/src/components/NumberInput.tsx
  packages/lib/src/components/PasswordInput.tsx
  packages/lib/src/components/PinInput.tsx
  packages/lib/src/components/Progress.tsx
  packages/lib/src/components/RadioGroup.tsx
  packages/lib/src/components/Select.tsx
  packages/lib/src/components/Slider.tsx
  packages/lib/src/components/TagsInput.tsx
  packages/lib/src/components/TextInput.tsx
  packages/lib/src/components/form/SliderField.tsx
Due: lint, fmt

Notes added by 'git notes add'
  8dd00e84d0cbcbdf5ffa228aa3ac8908b384400a
Due: none

fix: passing field props
  packages/lib/src/components/form/ComboboxField.tsx
  packages/lib/src/components/form/DatePickerField.tsx
  packages/lib/src/components/form/NumberInputField.tsx
  packages/lib/src/components/form/PasswordInputField.tsx
  packages/lib/src/components/form/TagsInputField.tsx
Due: lint, fmt

Notes added by 'git notes add'
  7103f9c65be20c2f87732f7f68241c7bd7654427
Due: none

chore: add devtools
  bun.lock
  packages/docs/package.json
  packages/docs/src/routes/__root.tsx
Due: lint, fmt

Path conditions:
  lint: any of: *.{ts,tsx}
  fmt: any of: *.{ts,tsx,json,css}
