Repository manafishrov/ui: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt

lint:
  run: bunx oxlint --fix --type-aware --type-check {staged_files} && git add {staged_files}

fmt:
  run: bunx oxfmt {staged_files} && git add {staged_files}

Notes added by 'git notes add'
  9d5a326b1ddc9cf1a9a1321edc209088d3510cd8
Due: none

fix: select close when clicked innside scrollable container
  packages/lib/src/components/Select.tsx
  packages/lib/src/primitives/selectTriggerRef.ts
Due: lint, fmt

Notes added by 'git notes add'
  f14b3692b5eebe0eba4d2d7c03768b3f1b100178
Due: none

chore: update linting and formatting configs
  .oxfmtrc.json
  .oxlintrc.json
  lefthook.yaml
Due: fmt

Notes added by 'git notes add'
  1fb852edad61a7a18bf836d0f22717b4b6a3b9eb
Due: none

Notes added by 'git notes add'
  d5a100325983ba96862685609f9525e25c088394
Due: none

Notes added by 'git notes add'
  a02e733f07489288e6e628f0cd16bdde7d71f88f
Due: none

refactor: migrate to vite 8
  bun.lock
  package.json
  packages/docs/src/autoImports.d.ts
  packages/lib/src/autoImports.d.ts
  packages/lib/vite.config.ts
Due: lint, fmt

chore: lock vite version
  bun.lock
  package.json
Due: fmt

chore: fix build warnings
  packages/docs/src/routes/-components-form-fields.tsx
  packages/docs/src/routes/components-form.tsx
  packages/lib/src/theme.css
Due: lint, fmt

fix: select not closing bug
  packages/lib/src/primitives/selectTriggerRef.ts
Due: lint, fmt

chore: update lockfile
  bun.lock
Due: none

Notes added by 'git notes add'
  b3a71c22efbbd0bbb372f75456e69f046ae0cd08
Due: none

feat: add mono font
  bun.lock
  packages/docs/index.html
  packages/lib/package.json
  packages/lib/src/theme.css
Due: fmt

Notes added by 'git notes add'
  e83c6563855fc41e2abc7365885e0bc7ba74ca40
Due: none

chore: move tw animate css to be a dev dep
  bun.lock
  packages/lib/package.json
Due: fmt

Notes added by 'git notes add'
  61ddc1fb01cbc9bebbf2849dc0a7672b2f8bfcff
Due: none

Notes added by 'git notes add'
  c6b3953ee93c5eca326513be4816c94944252bc0
Due: none

chore: update to typescript 6
  .oxlintrc.json
  bun.lock
  package.json
  packages/lib/src/components/Button.tsx
  packages/lib/tsconfig.json
  tsconfig.json
Due: lint, fmt

docs: devtools removed from prod
  packages/docs/vite.config.ts
Due: lint, fmt

chore: add AGENTS.md and harden renovate config
  .github/renovate.json
  AGENTS.md
Due: fmt

style(docs): apply oxfmt to AGENTS.md
  AGENTS.md
Due: none

build(fmt): scope oxfmt and apply to drift
  package.json
  packages/docs/src/routes/components-collapsible.tsx
  packages/docs/tsconfig.json
  packages/lib/package.json
  packages/lib/src/components/HoverCard.tsx
  packages/lib/src/components/InputGroup.tsx
  packages/lib/src/components/Item.tsx
  packages/lib/src/components/Kbd.tsx
  packages/lib/src/components/Popover.tsx
  packages/lib/src/components/Splitter.tsx
  packages/lib/src/components/Switch.tsx
  packages/lib/src/components/Toggle.tsx
  packages/lib/src/components/Typography.tsx
  packages/lib/src/components/marquee/Marquee.tsx
Due: lint, fmt

ci: enforce fmt:check in CI
  .github/workflows/ci.yaml
  .oxfmtrc.json
Due: fmt

build(lint,fmt): migrate oxlint/oxfmt configs to TypeScript
  .oxfmtrc.json
  .oxlintrc.json
  lefthook.yaml
  oxfmt.config.ts
  oxlint.config.ts
  package.json
Due: lint, fmt

ci: pin Node.js 24 for oxlint/oxfmt TS config loading
  .github/workflows/ci.yaml
Due: none

fix(lib,docs): satisfy stricter tsgolint 0.22 rules
  oxlint.config.ts
  packages/docs/src/routes/-components-form-fields.tsx
  packages/docs/src/routes/components-menu-combobox.tsx
  packages/docs/src/routes/components-text-input.tsx
  packages/lib/src/Theme.tsx
  packages/lib/src/components/Select.tsx
  packages/lib/src/components/sidebar/SidebarMenu.tsx
  packages/lib/src/components/sidebar/SidebarProvider.tsx
Due: lint, fmt

Notes added by 'git notes add'
  824ebf704fc01f074713e98f60f6457e79bc7770
Due: none

fix: update flake
  flake.lock
  flake.nix
Due: none

Notes added by 'git notes add'
  ae895374d30964b187a86d7481a6581bebe0a6f4
Due: none

fix(lib): satisfy oxfmt 0.49.0 tailwind sort on ScrollArea
  packages/lib/src/components/ScrollArea.tsx
Due: lint, fmt

Notes added by 'git notes add'
  6272052655a6c753dc2c43c1bf9239fe6ece3ce5
Due: none

fix(docs): hoist toaster handlers to satisfy oxlint no-closure rule
  packages/docs/src/routes/components-toaster.tsx
Due: lint, fmt

Notes added by 'git notes add'
  47e035027f6c6de03bc5ea3dac6ef517a61d6811
Due: none

fix(tooltip): add focus-visible ring to trigger
  packages/lib/src/components/Tooltip.tsx
Due: lint, fmt

fix(toaster): add focus-visible ring to toast root
  packages/lib/src/components/toaster/Toaster.tsx
Due: lint, fmt

Notes added by 'git notes add'
  eb0b78646799c0796adba303dc9e073c8238df7e
Due: none

fix: satisfy updated lint rules
  packages/lib/src/Theme.tsx
  packages/lib/src/components/Accordion.tsx
  packages/lib/src/components/AspectRatio.tsx
  packages/lib/src/components/Select.tsx
  packages/lib/src/components/TextInput.tsx
  packages/lib/src/components/Toggle.tsx
  packages/lib/src/components/TreeView.tsx
Due: lint, fmt

Notes added by 'git notes add'
  68ad40d87ddfa9724917e62e246116f9c5c2b442
Due: none

fix(deps): support TypeScript 7 tooling
  bun.lock
  package.json
  packages/lib/src/components/form/AutoSubmit.tsx
Due: lint, fmt

Path conditions:
  lint: any of: *.{ts,tsx}
  fmt: any of: *.{ts,tsx,json,css}
