Repository manafishrov/ui: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: bunx oxlint --fix --type-aware --type-check {staged_files} && git add {staged_files}
    fmt:
      glob: "*.{ts,tsx,json,css}"
      run: bunx oxfmt {staged_files} && git add {staged_files}

docs: improve form example
  packages/docs/src/routes/components-form.tsx
Due: lint, fmt

feat: add form component to appform
  packages/docs/src/routes/components-form.tsx
  packages/lib/src/components/form/Form.tsx
Due: lint, fmt

feat: add autosubmit form component
  packages/lib/src/components/form/AutoSubmit.tsx
  packages/lib/src/components/form/Form.tsx
  packages/lib/src/components/form/index.ts
Due: lint, fmt

chore: enable scroll restoration for docs website
  packages/docs/src/main.tsx
Due: lint, fmt

Notes added by 'git notes add'
  01b2295e3214040f9b3683b91f8f9e6b8f3abf4a
Due: none

fix: make api more consistent
  packages/docs/src/routes/components-field.tsx
  packages/docs/src/routes/components-menu-combobox.tsx
  packages/lib/src/components/DatePicker.tsx
  packages/lib/src/components/Field.tsx
  packages/lib/src/components/MenuCombobox.tsx
  packages/lib/src/components/MenuComboboxList.tsx
Due: lint, fmt

Notes added by 'git notes add'
  e4fc7cdd5a32b9741c5c6a2eae330db70769340d
Due: none

fix: number input behaviour
  packages/lib/src/components/form/NumberInputField.tsx
  packages/lib/src/components/form/SubmitButton.tsx
Due: lint, fmt

chore: ignore generated files
  .oxfmtrc.json
  .oxlintrc.json
Due: fmt

Notes added by 'git notes add'
  fcde17cf63cf37490bd60c184eabaff1587460ba
Due: none

chore: also ignore gen.ts files
  .oxfmtrc.json
  .oxlintrc.json
Due: fmt

fix: pass correct props to root for fields
  packages/lib/src/components/form/ComboboxField.tsx
  packages/lib/src/components/form/DatePickerField.tsx
  packages/lib/src/components/form/NumberInputField.tsx
  packages/lib/src/components/form/TagsInputField.tsx
Due: lint, fmt

Notes added by 'git notes add'
  664fcb5fd3d7e1f546da1d81ea868536255b3a43
Due: none

fix: missing radio group field label and form spacing
  packages/lib/src/components/form/Form.tsx
  packages/lib/src/components/form/RadioGroupField.tsx
Due: lint, fmt

Notes added by 'git notes add'
  a0604568bb84f0bc6a9893c58607cf40482f4ef0
Due: none

WIP: add trailingAddition prop to form fields and default auto submit to 0
  packages/lib/src/components/form/AutoSubmit.tsx
  packages/lib/src/components/form/ComboboxField.tsx
  packages/lib/src/components/form/DatePickerField.tsx
  packages/lib/src/components/form/NumberInputField.tsx
  packages/lib/src/components/form/PasswordInputField.tsx
  packages/lib/src/components/form/PinInputField.tsx
  packages/lib/src/components/form/RadioGroupField.tsx
  packages/lib/src/components/form/SelectField.tsx
  packages/lib/src/components/form/SliderField.tsx
  packages/lib/src/components/form/TagsInputField.tsx
  packages/lib/src/components/form/TextInputField.tsx
  packages/lib/src/components/form/TextareaField.tsx
Due: lint, fmt

fix: lint issues
  packages/lib/src/components/form/AutoSubmit.tsx
  packages/lib/src/components/form/ComboboxField.tsx
  packages/lib/src/components/form/DatePickerField.tsx
  packages/lib/src/components/form/Form.tsx
  packages/lib/src/components/form/NumberInputField.tsx
  packages/lib/src/components/form/PasswordInputField.tsx
  packages/lib/src/components/form/PinInputField.tsx
  packages/lib/src/components/form/RadioGroupField.tsx
  packages/lib/src/components/form/SelectField.tsx
  packages/lib/src/components/form/SliderField.tsx
  packages/lib/src/components/form/TagsInputField.tsx
  packages/lib/src/components/form/TextInputField.tsx
  packages/lib/src/components/form/TextareaField.tsx
  packages/lib/src/components/form/WithTrailingAddon.tsx
  packages/lib/src/components/form/index.ts
Due: lint, fmt

Notes added by 'git notes add'
  6760e39276300dabe9d55ecda8d4a48cdde5a88e
Due: none

fix: auto submit to only run when form is dirty
  packages/lib/src/components/form/AutoSubmit.tsx
Due: lint, fmt

Notes added by 'git notes add'
  3e42e0d6931e6b8be22e0cd0d0956b13e7e7ddd3
Due: none

fix: toast layout shift issues
  packages/lib/src/components/toaster/toaster.css
Due: fmt

Notes added by 'git notes add'
  15408d942fb561c46d603bfdb8b4d578427e27dc
Due: none

fix: select component height and field indicator
  .oxfmtrc.json
  .oxlintrc.json
  packages/lib/src/components/Select.tsx
  packages/lib/src/components/form/SelectField.tsx
Due: lint, fmt

chore: toaster height fix
  packages/lib/src/components/toaster/Toaster.tsx
  packages/lib/src/components/toaster/toaster.css
Due: lint, fmt

Notes added by 'git notes add'
  a4fde17a72025b100ea3547012d2a751a3ce53c6
Due: none

chore: add back ignorepatterns
  .oxfmtrc.json
  .oxlintrc.json
Due: fmt

fix: add enum for theme
  packages/lib/src/Theme.tsx
Due: lint, fmt

Notes added by 'git notes add'
  c7df0f929b31b286d9a252818c600ad1e4fac5dd
Due: none

fix: update export
  packages/lib/src/index.ts
Due: lint, fmt

Notes added by 'git notes add'
  566db56460d92b15cb573d931574449969ad3212
Due: none

fix: simplify toast css
  packages/lib/src/components/toaster/toaster.css
Due: fmt

Notes added by 'git notes add'
  d41b0012022a5e6c40255b843aa0dd1bf295cc28
Due: none

chore: add editorconfig
  .editorconfig
Due: none

chore: add better license text
  README.md
Due: none

fix: set z index for tooltip content too
  packages/lib/src/components/Tooltip.tsx
Due: lint, fmt

Notes added by 'git notes add'
  c2eb70245239d3392042fd77f23b8cb6ac079645
Due: none

feat: improve action for toaster component
  packages/docs/src/routes/components-toaster.tsx
  packages/lib/src/components/toaster/Toaster.tsx
Due: lint, fmt

fix: splitup form and add select formfield example
  packages/docs/src/routes/components-form-fields.tsx
  packages/docs/src/routes/components-form.tsx
  packages/docs/src/routes/components-toaster.tsx
Due: lint, fmt

Notes added by 'git notes add'
  c267541d186bb2c4d2be737d1f2bdca02565d6eb
Due: none

fix: improve and simplify toast animation
  packages/lib/src/components/toaster/Toaster.tsx
  packages/lib/src/components/toaster/toaster.css
Due: lint, fmt
